/* BASE */
/* variables */
:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --link-attribution: hsl(228, 45%, 44%);
  --white: hsl(0, 0%, 100%);
}

/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* Increase line-height */
* {
  line-height: calc(1em + 0.5rem);
}

/* Reserve scrollbar area */
html {
  scrollbar-gutter: stable;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    /* Enable smooth scrolling for anchor links */
    scroll-behavior: smooth;
    /* Enable keywords animations */
    interpolate-size: allow-keywords;
  }
}

body {
  /* Set default font */
  font:
    500 0.8275rem "Manrope",
    sans-serif;
  /* Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* LAYOUT AND COMPONENTS */
.page-layout {
  min-block-size: 100vb; /* fallback if browser doesn't support svb */
  min-block-size: 100svb;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
  align-items: center;
  gap: 1.5rem;
  background-color: var(--light-grayish-blue);
  padding: 1.5rem;
}

.article-preview {
  inline-size: min(100%, 25rem);
  background-color: var(--white);
  border-radius: 0.5rem;

  @media (width >= 54rem) {
    inline-size: 45.62rem;
  }
}

.article-wrapper {
  /* layout mobile view */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.3rem;

  /* layout tablet and desktop view */
  @media (width >= 54rem) {
    flex-direction: row;
    align-items: stretch;
    gap: 2.5rem;
  }
}

.article-image {
  inline-size: 100%;
  block-size: auto;
  max-block-size: 12.5rem;
  object-fit: cover;
  border-start-start-radius: 0.5rem;
  border-start-end-radius: 0.5rem;

  @media (width >= 54rem) {
    inline-size: 17.81rem;
    block-size: auto;
    max-block-size: none;
    border-start-end-radius: 0;
    border-end-start-radius: 0.5rem;
  }
}

.article-content {
  padding-inline: 2rem;
  padding-block-end: 1rem;

  @media (width >= 54rem) {
    padding-block: 2rem;
    padding-inline-start: 0;
    padding-inline-end: 2.5rem;
  }
}

.article-title {
  font-size: 0.514rem;
  margin-block-end: 0.7rem;
  color: var(--very-dark-grayish-blue);

  @media (width >= 54rem) {
    font-size: 0.6425rem;
  }
}

.content {
  color: var(--very-dark-grayish-blue);
  opacity: 0.85;
  padding-block-end: 2rem;

  @media (width >= 54rem) {
    padding-block-end: 1rem;
  }
}

.article-footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-inline: -2rem;
  margin-block: -1rem;
  padding-inline: 2rem;
  padding-block: 1rem;
}

.article-meta {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.avatar {
  flex-shrink: 0;
  inline-size: 2.5rem;
  block-size: 2.5rem;
  border-radius: 50%;
}

.share-button {
  anchor-name: --share-button;
  z-index: 3;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  inline-size: 2rem;
  block-size: 2rem;
  padding: 0;
}

.share-button img {
  inline-size: 1rem;
  block-size: auto;
  padding-block-end: 0.2rem;
}

.tooltip-share {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.8rem;
  inset: 0;
  background-color: var(--very-dark-grayish-blue);
  color: var(--white);
  padding-inline-start: 2rem;
  padding-inline-end: 4.5rem;
  padding-block: 1rem;
  border-end-start-radius: 0.5rem;
  border-end-end-radius: 0.5rem;

  @media (width >= 54rem) {
    position-anchor: --share-button;
    flex-wrap: nowrap;
    inset: auto; /* Reset inset: 0 from mobile view */
    inset-block-end: calc(
      anchor(start) + 1rem
    ); /* position the tooltip above share button */
    inset-inline-start: anchor(
      center
    ); /* position the tooltip at the center of the share button */
    translate: -50% 0; /* Adjust the tooltip position to be centered horizontally */
    position-visibility: always;
    inline-size: max-content;
    padding-inline-end: 2rem;
    border-radius: 0.5rem;

    &::after {
      content: "";
      position: absolute;
      inset: auto;
      border-width: 0.5rem;
      border-style: solid;
      border-color: var(--very-dark-grayish-blue) transparent transparent
        transparent; /* Create an arrow pointing downwards */
      inset-block-end: -1rem; /* position the arrow below the tooltip */
      inset-inline-start: 50%; /* position the arrow at the center of the tooltip */
      translate: -50% 0; /* Adjust the arrow position to be centered horizontally */
    }
  }
}

.tooltip-share p {
  opacity: 60%;
  text-transform: uppercase;
  letter-spacing: 0.33rem;
  font-weight: 300;
  font-size: 0.8rem;
}

.tooltip-share img {
  inline-size: 1.5rem;
  block-size: 1.5rem;
}

/* footer */
/* attributions */
.attribution {
  font-size: 0.6875rem;
  text-align: center;
  margin-block-end: -1rem;

  a {
    color: var(--link-attribution);
  }
}

/* UTILITY CLASSES */

[aria-hidden="true"] {
  display: none;
}
